<!-- Header -->
			<header class="header">
				<div class="header__row header__row--top d-flex ai-c">
					<div class="container">
						<div class="header__inner d-flex jc-sb ai-c">
							<div class="header__box d-flex jc-sb ai-c">
								<a class="header__logo logo" href="#">
									<img class="logo__img" src="images/logo/logo.png" alt="MartPlace">
								</a>
								<a class="header__btn btn btn--blue" href="#">
									Become a Seller
								</a>
							</div>
							<div class="header__profile d-flex jc-c ai-c">
								<ul class="header__actions d-flex ai-c">
									<li class="header__item">
										<a class="header__profile-btn" href="#">
											<svg class="header__btn-icon">
												<title>
													Notifications
												</title>
												<use xlink:href="#ui-alarm" />
											</svg>
											<span class="header__count header__count--red">25</span>
										</a>
									</li>
									<li class="header__item">
										<a class="header__profile-btn" href="#">
											<svg class="header__btn-icon">
												<title>
													Inbox
												</title>
												<use xlink:href="#ui-envelope" />
											</svg>
											<span class="header__count header__count--green">6</span>
										</a>
									</li>
									<li class="header__item">
										<a class="header__profile-btn" href="#">
											<svg class="header__btn-icon">
												<title>
													Cart
												</title>
												<use xlink:href="#ui-cart" />
											</svg>
											<span class="header__count header__count--blue">2</span>
										</a>
									</li>
								</ul>
								<a class="header__user user" href="#">
									<img class="header__img user__avatar" src="images/content/user-img-01.jpg" alt="User Photo">
									<span class="header__details">
										<span class="header__user-name">
											Taofiq Hakim
										</span>
										<span class="header__balance">
											<span class="header__currency">$</span>20.45
										</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="header__row header__row--bottom d-flex ai-c">
					<div class="container">
						<div class="header__inner d-flex jc-sb ai-c">
							<nav class="header__menu">
								<ul class="menu d-flex ai-c">
									<li class="menu__item">
										<a class="menu__link link" a href="#">
											home
										</a>
									</li>
									<li class="menu__item">
										<a class="menu__link link" a href="#">
											all products
										</a>
									</li>
									<li class="menu__item">
										<a class="menu__link link" a href="#">
											wordpress
										</a>
									</li>
									<li class="menu__item">
										<a class="menu__link link" a href="#">
											features
										</a>
									</li>
									<li class="menu__item">
										<a class="menu__link link" a href="#">
											pages
										</a>
									</li>
								</ul>
							</nav>

							<form class="header__form input-form" id="header-form" action="#">
								<label class="input-form__label" for="#header-input">
									<input class="input-form__text-box" id="header-input" type="search" placeholder="Search product here..."
										required aria-label="Search product here..."/>
									<button class="input-form__btn btn btn--blue" type="submit" aria-label="Search">
										<svg class="input-form__icon">
											<use xlink:href="#ui-magnifier" />
										</svg>
									</button>
								</label>
							</form>
						</div>
					</div>
				</div>
			</header>
			<!-- /Header -->