<!-- Benefits -->
				<section class="benefits">
					<div class="container">
						<div class="benefits__inner d-flex">
							<div class="benefits__col d-flex jc-c ai-c fd-c">
								<div class="benefits__img"
									style="background-image: url(images/ui/ui-money-back.png); background-size: 150px, 120px;"></div>
								<div class="benefits__tagline">
									30 Days Money Back <span class="txt-blue">Guarantee</span>
								</div>
							</div>
							<div class="benefits__col d-flex jc-c ai-c fd-c">
								<div class="benefits__img"
									style="background-image: url(images/ui/ui-support.png); background-size: 155px, 117px;"></div>
								<div class="benefits__tagline">
									Fast and Friendly <span class="txt-fuchsia">Support</span>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- /Benefits -->
