<!-- Hero -->
				<section class="hero">
					<div class="hero__body" style="background-image: url(images/bg/hero-bg.jpg);">
						<div class="container">
							<div class="hero__content">
								<div class="hero__title">
									Create Your Own <span class="fw-bold d-block">Digital Product Marketplace</span>
								</div>
								<p class="hero__tagline">
									MartPlace is the most powerful, & customizable template for Easy Digital Downloads Products
								</p>
								<a class="hero__btn btn btn--xl btn--white" href="#">
									View All Products
								</a>
								<a class="hero__btn hero__btn--transparent btn btn--xl btn--transparent" href="#">
									Popular Products
								</a>
							</div>
						</div>
					</div>
					<div class="hero__search">
						<div class="container">
							<div class="hero__inner">
								<form class="hero__form d-flex jc-c aic-c" name="hero__form" id="hero__form" action="#">
									<label class="hero__label" for="#hero__input">
										<input class="hero__input" id="hero__input" type="search" placeholder="Search your products..."
											required aria-label="Search product here...">
									</label>
									<select class="hero__select" name="hero__select">
										<option value="All Categories">
											All Categories
										</option>
										<option value="Plugins">
											Plugins
										</option>
										<option value="WordPress">
											WordPress
										</option>
										<option value="Site Template">
											Site Template
										</option>
										<option value="PSD Template">
											PSD Template
										</option>
										<option value="Joomla">
											Joomla
										</option>
										<option value="User Interface">
											User Interface
										</option>
										<option value="Landing Page">
											Landing Page
										</option>
										<option value="Software">
											Software
										</option>
									</select>
									<button class="hero__submit-btn btn btn--blue" type="submit">
										Search Now
									</button>
								</form>
							</div>
						</div>
					</div>
				</section>
				<!-- /Hero -->
