<!-- Latest news -->
				<section class="latest-news section">
					<div class="container">
						<div class="section__heading">
							Latest <span class="txt-blue">News</span>
						</div>
						<div class="section__subheading">
							Laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats. Lid est laborum
							dolo rumes fugats untras.
						</div>
						<div class="latest-news__items d-flex">

							<article class="latest-news__card item-card">
								<a class="item-card__aside" href="#">
									<img class="item-card__img" src="images/content/latest-news-card-01.jpg" alt="Web Design Trends">
								</a>
								<div class="item-card__body">
									<a class="latest-news__card-title item-card__title" href="#">
										Web Design Trends in 2017
									</a>
									<p class="item-card__text">
										Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque
										the mattis, leo quam aliquet congue.
									</p>
								</div>
								<div class="latest-news__card-footer item-card__footer d-flex jc-sb ai-c">
									<time class="latest-news__time">
										<svg class="latest-news__time-icon">
											<use xlink:href="#ui-clock" />
										</svg>
										24 Feb 2017
									</time>
									<div class="latest-news__stats d-flex jc-sb">
										<a class="latest-news__stat-link news-card__stat-link--comments" href="#">
											<svg class="latest-news__stat-icon">
												<title>
													Read Comments
												</title>
												<use xlink:href="#ui-bubble" />
											</svg>
											45
										</a>
										<a class="latest-news__stat-link news-card__stat-link--views" href="#">
											<svg class="latest-news__stat-icon">
												<title>
													Viewed
												</title>
												<use xlink:href="#ui-view" />
											</svg>
											345
										</a>
									</div>
								</div>
							</article>

							<article class="latest-news__card item-card">
								<a class="item-card__aside" href="#">
									<img class="item-card__img" src="images/content/latest-news-card-02.jpg" alt="Start your own project">
								</a>
								<div class="item-card__body">
									<a class="latest-news__card-title item-card__title" href="#">
										The best advices to start your own project
									</a>
									<p class="item-card__text">
										Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque
									</p>
								</div>
								<div class="latest-news__card-footer item-card__footer d-flex jc-sb ai-c">
									<time class="latest-news__time">
										<svg class="latest-news__time-icon">
											<use xlink:href="#ui-clock" />
										</svg>
										15 Mar 2017
									</time>
									<div class="latest-news__stats d-flex jc-sb">
										<a class="latest-news__stat-link news-card__stat-link--comments" href="#">
											<svg class="latest-news__stat-icon">
												<title>
													Read Comments
												</title>
												<use xlink:href="#ui-bubble" />
											</svg>
											45
										</a>
										<a class="latest-news__stat-link news-card__stat-link--views" href="#">
											<svg class="latest-news__stat-icon">
												<title>
													Viewed
												</title>
												<use xlink:href="#ui-view" />
											</svg>
											345
										</a>
									</div>
								</div>
							</article>

							<article class="latest-news__card item-card">
								<a class="item-card__aside" href="#">
									<img class="item-card__img" src="images/content/latest-news-card-03.jpg" alt="Word Press Related Post Plugin">
								</a>
								<div class="item-card__body">
									<a class="latest-news__card-title item-card__title" href="#">
										Best Related Post Plugin
									</a>
									<p class="item-card__text">
										Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque
										the mattis, leo quam aliquet congue.
									</p>
								</div>
								<div class="latest-news__card-footer item-card__footer d-flex jc-sb ai-c">
									<time class="latest-news__time">
										<svg class="latest-news__time-icon">
											<use xlink:href="#ui-clock" />
										</svg>
										20 Dec 2016
									</time>
									<div class="latest-news__stats d-flex jc-sb">
										<a class="latest-news__stat-link news-card__stat-link--comments" href="#">
											<svg class="latest-news__stat-icon">
												<title>
													Read Comments
												</title>
												<use xlink:href="#ui-bubble" />
											</svg>
											45
										</a>
										<a class="latest-news__stat-link news-card__stat-link--views" href="#">
											<svg class="latest-news__stat-icon">
												<title>
													Viewed
												</title>
												<use xlink:href="#ui-view" />
											</svg>
											345
										</a>
									</div>
								</div>
							</article>
						</div>
					</div>
				</section>
				<!-- /Latest news -->