<!-- Newest products -->
				<section class="newest section">
					<div class="container">
						<div class="newest__header section__header d-flex jc-sb ai-c">
							<div class="section__title">
								Newest Release Products
							</div>
							<div class="newest__filter d-flex jc-sb ai-c">
								<button class="newest__filter-btn" type="button">
									Filter by:
									<svg class="newest__filter-icon">
										<use xlink:href="#ui-menu" />
									</svg>
								</button>
								<ul class="newest__dropdown">
									<li class="newest__filter-item">
										<button class="newest__filter-option" data-filter=".trending">
											Trending items
										</button>
									</li>
									<li class="newest__filter-item">
										<button class="newest__filter-option" data-sort="seller:desc">
											Best seller
										</button>
									</li>
									<li class="newest__filter-item">
										<button class="newest__filter-option" data-sort="item-rating:desc">
											Best rating
										</button>
									</li>
									<li class="newest__filter-item">
										<button class="newest__filter-option" data-sort="price:asc">
											Low price
										</button>
									</li>
									<li class="newest__filter-item">
										<button class="newest__filter-option" data-sort="price:desc">
											High price
										</button>
									</li>
								</ul>
							</div>
						</div>

						<div class="newest__inner">
							<div class="newest__categories">
								<button class="newest__btn btn btn--md btn--gray" type="button" data-filter="all">
									Plugins
								</button>
								<button class="newest__btn btn btn--md btn--gray" type="button" data-filter=".word-press">
									WordPress
								</button>
								<button class="newest__btn btn btn--md btn--gray" type="button" data-filter=".site-template">
									Site Template
								</button>
								<button class="newest__btn btn btn--md btn--gray" type="button" data-filter=".psd-template">
									PSD Template
								</button>
								<button class="newest__btn btn btn--md btn--gray" type="button" data-filter=".joomla">
									Joomla
								</button>
								<button class="newest__btn btn btn--md btn--gray" type="button" data-filter=".ui">
									User Interface
								</button>
								<button class="newest__btn btn btn--md btn--gray" type="button" data-filter=".landing-page">
									Landing Page
								</button>
								<button class="newest__btn btn btn--md btn--gray" type="button" data-filter=".software">
									Software
								</button>
							</div>

							<!-- New Products Items -->
							<div class="newest__items d-flex fxw-w js-newest-mixitup">
								<article class="item-card mix ui word-press" data-seller="4.67" data-price="20" data-rating="">
									<div class="item-card__aside">
										<img class="item-card__img" src="images/content/newest-card-01.jpg" alt="Product Image">
										<div class="item-card__overlay d-flex jc-c ai-c">
											<a class="item-card__btn item-card__btn--transparent btn btn--lg btn--transparent" href="#">
												More Info
											</a>
											<a class="item-card__btn btn btn--lg btn--white" href="#">
												Live Demo
											</a>
										</div>
									</div>
									<div class="item-card__body">
										<a class="item-card__title" href="#">
											E-commerce Shopping Cart
										</a>
										<div class="item-card__info d-flex ai-c">
											<a class="item-card__user user" href="#">
												<img class="item-card__avatar user__avatar" src="images/content/user-img-04.jpg" alt="Author Image">
												<span class="item-card__user-name">
													Theme-Valley
												</span>
											</a>
											<a class="item-card__category d-flex" href="#">
												<svg class="item-card__category-icon">
													<use xlink:href="#ui-wp" />
												</svg>
												Plugin
											</a>
										</div>
										<p class="item-card__text">
											Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam
											aliquet congue.
											Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam
											aliquet congue.
										</p>
									</div>
									<div class="item-card__footer d-flex jc-sb ai-c">
										<span class="item-card__footer-group d-flex jc-c ai-c">
											<span class="item-card__price">
												<span class="item-card__currency">$</span>20
											</span>
											<button class="item-card__action item-card__action--like" type="button">
												<svg class="item-card__action-icon item-card__action-icon--like">
													<title>
														Add to Favorites
													</title>
													<use xlink:href="#ui-heart" />
												</svg>
												90
											</button>
										</span>
										<button class="item-card__action item-card__action--buy" type="button">
											<svg class="item-card__action-icon item-card__action-icon--buy">
												<title>
													Add to Cart
												</title>
												<use xlink:href="#ui-cart" />
											</svg>
											246
										</button>
									</div>
								</article>

								<article class="item-card mix landing-page psd-template" data-seller="4.9" data-price="18" data-rating="">
									<div class="item-card__aside">
										<img class="item-card__img" src="images/content/newest-card-02.jpg" alt="Product Image">
										<div class="item-card__overlay d-flex jc-c ai-c">
											<a class="item-card__btn item-card__btn--transparent btn btn--lg btn--transparent" href="#">
												More Info
											</a>
											<a class="item-card__btn btn btn--lg btn--white" href="#">
												Live Demo
											</a>
										</div>
									</div>
									<div class="item-card__body">
										<a class="item-card__title" href="#">
											Marketify Coffee Shop
										</a>
										<div class="item-card__info d-flex ai-c">
											<a class="item-card__user user" href="#">
												<img class="item-card__avatar user__avatar" src="images/content/user-img-05.jpg" alt="Author Image">
												<span class="item-card__user-name">
													EchoTheme
												</span>
											</a>
											<a class="item-card__category d-flex" href="#">
												<svg class="item-card__category-icon">
													<use xlink:href="#ui-psd" />
												</svg>
												PSD
											</a>
										</div>
										<p class="item-card__text">
											Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam
											aliquet congue.
										</p>
									</div>
									<div class="item-card__footer d-flex jc-sb ai-c">
										<span class="item-card__footer-group d-flex jc-c ai-c">
											<span class="item-card__price">
												<span class="item-card__currency">$</span>18
											</span>
											<button class="item-card__action item-card__action--like" type="button">
												<svg class="item-card__action-icon item-card__action-icon--like">
													<title>
														Add to Favorites
													</title>
													<use xlink:href="#ui-heart" />
												</svg>
												46
											</button>
										</span>
										<button class="item-card__action item-card__action--buy" type="button">
											<svg class="item-card__action-icon item-card__action-icon--buy">
												<title>
													Add to Cart
												</title>
												<use xlink:href="#ui-cart" />
											</svg>
											634
										</button>
									</div>
								</article>

								<article class="item-card mix site-template trending" data-seller="4.84" data-price="10" data-rating="4.5">
									<div class="item-card__aside">
										<img class="item-card__img" src="images/content/newest-card-03.jpg" alt="Product Image">
										<div class="item-card__overlay d-flex jc-c ai-c">
											<a class="item-card__btn item-card__btn--transparent btn btn--lg btn--transparent" href="#">
												More Info
											</a>
											<a class="item-card__btn btn btn--lg btn--white" href="#">
												Live Demo
											</a>
										</div>
									</div>
									<div class="item-card__body">
										<a class="item-card__title" href="#">
											Bryson - Portfolio Template
										</a>
										<div class="item-card__info d-flex ai-c">
											<a class="item-card__user user" href="#">
												<img class="item-card__avatar user__avatar" src="images/content/user-img-06.jpg" alt="Author Image">
												<span class="item-card__user-name">
													Artcorner
												</span>
											</a>
											<a class="item-card__category d-flex" href="#">
												<svg class="item-card__category-icon">
													<use xlink:href="#ui-html" />
												</svg>
												HTML
											</a>
										</div>
										<p class="item-card__text">
											Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam
											aliquet congue.
										</p>
									</div>
									<div class="item-card__footer d-flex jc-sb ai-c">
										<span class="item-card__footer-group d-flex jc-c ai-c">
											<span class="item-card__price">
												<span class="item-card__currency">$</span>10
											</span>
											<button class="item-card__action item-card__action--like" type="button">
												<svg class="item-card__action-icon item-card__action-icon--like">
													<title>
														Add to Favorites
													</title>
													<use xlink:href="#ui-heart" />
												</svg>
												56
											</button>
											<span class="item-card__rating"></span>
										</span>
										<button class="item-card__action item-card__action--buy" type="button">
											<svg class="item-card__action-icon item-card__action-icon--buy">
												<title>
													Add to Cart
												</title>
												<use xlink:href="#ui-cart" />
											</svg>
											68
										</button>
									</div>
								</article>

								<article class="item-card mix ui word-press" data-seller="4.80" data-price="10" data-rating="4.5">
									<div class="item-card__aside">
										<img class="item-card__img" src="images/content/newest-card-04.jpg" alt="Product Image">
										<div class="item-card__overlay d-flex jc-c ai-c">
											<a class="item-card__btn item-card__btn--transparent btn btn--lg btn--transparent" href="#">
												More Info
											</a>
											<a class="item-card__btn btn btn--lg btn--white" href="#">
												Live Demo
											</a>
										</div>
									</div>
									<div class="item-card__body">
										<a class="item-card__title" href="#">
											E-commerce Shopping Cart
										</a>
										<div class="item-card__info d-flex ai-c">
											<a class="item-card__user user" href="#">
												<img class="item-card__avatar user__avatar" src="images/content/user-img-07.jpg" alt="Author Image">
												<span class="item-card__user-name">
													Design-Hub
												</span>
											</a>
											<a class="item-card__category d-flex" href="#">
												<svg class="item-card__category-icon">
													<use xlink:href="#ui-wp" />
												</svg>
												Plugin
											</a>
										</div>
										<p class="item-card__text">
											Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam
											aliquet congue.
										</p>
									</div>
									<div class="item-card__footer d-flex jc-sb ai-c">
										<span class="item-card__footer-group d-flex jc-c ai-c">
											<span class="item-card__price">
												<span class="item-card__currency">$</span>10 - 50
											</span>
											<button class="item-card__action item-card__action--like" type="button">
												<svg class="item-card__action-icon item-card__action-icon--like">
													<title>
														Add to Favorites
													</title>
													<use xlink:href="#ui-heart" />
												</svg>
												90
											</button>
											<span class="item-card__rating"></span>
										</span>
										<button class="item-card__action item-card__action--buy" type="button">
											<svg class="item-card__action-icon item-card__action-icon--buy">
												<title>
													Add to Cart
												</title>
												<use xlink:href="#ui-cart" />
											</svg>
											45
										</button>
									</div>
								</article>

								<article class="item-card mix landing-page psd-template trending" data-seller="4.99" data-price="10"
									data-rating="">
									<div class="item-card__aside">
										<img class="item-card__img" src="images/content/newest-card-05.jpg" alt="Product Image">
										<div class="item-card__overlay d-flex jc-c ai-c">
											<a class="item-card__btn item-card__btn--transparent btn btn--lg btn--transparent" href="#">
												More Info
											</a>
											<a class="item-card__btn btn btn--lg btn--white" href="#">
												Live Demo
											</a>
										</div>
									</div>
									<div class="item-card__body">
										<a class="item-card__title" href="#">
											Marketify Coffee Shop
										</a>
										<div class="item-card__info d-flex ai-c">
											<a class="item-card__user user" href="#">
												<img class="item-card__avatar user__avatar" src="images/content/user-img-02.jpg" alt="Author Image">
												<span class="item-card__user-name">
													AazzTech
												</span>
											</a>
											<a class="item-card__category d-flex" href="#">
												<svg class="item-card__category-icon">
													<use xlink:href="#ui-psd" />
												</svg>
												PSD
											</a>
										</div>
										<p class="item-card__text">
											Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam
											aliquet congue.
										</p>
									</div>
									<div class="item-card__footer d-flex jc-sb ai-c">
										<span class="item-card__footer-group d-flex jc-c ai-c">
											<span class="item-card__price">
												<span class="item-card__currency">$</span>10 - 50
											</span>
											<button class="item-card__action item-card__action--like" type="button">
												<svg class="item-card__action-icon item-card__action-icon--like">
													<title>
														Add to Favorites
													</title>
													<use xlink:href="#ui-heart" />
												</svg>
												48
											</button>
										</span>
										<button class="item-card__action item-card__action--buy" type="button">
											<svg class="item-card__action-icon item-card__action-icon--buy">
												<title>
													Add to Cart
												</title>
												<use xlink:href="#ui-cart" />
											</svg>
											50
										</button>
									</div>
								</article>

								<article class="item-card mix site-template trending" data-seller="4.85" data-price="10" data-rating="4.5">
									<div class="item-card__aside">
										<img class="item-card__img" src="images/content/newest-card-06.jpg" alt="Product Image">
										<div class="item-card__overlay d-flex jc-c ai-c">
											<a class="item-card__btn item-card__btn--transparent btn btn--lg btn--transparent" href="#">
												More Info
											</a>
											<a class="item-card__btn btn btn--lg btn--white" href="#">
												Live Demo
											</a>
										</div>
									</div>
									<div class="item-card__body">
										<a class="item-card__title" href="#">
											Bryson - Portfolio Template
										</a>
										<div class="item-card__info d-flex ai-c">
											<a class="item-card__user user" href="#">
												<img class="item-card__avatar user__avatar" src="images/content/user-img-03.jpg" alt="Author Image">
												<span class="item-card__user-name">
													Coder-Lab
												</span>
											</a>
											<a class="item-card__category d-flex" href="#">
												<svg class="item-card__category-icon">
													<use xlink:href="#ui-html" />
												</svg>
												HTML
											</a>
										</div>
										<p class="item-card__text">
											Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam
											aliquet congue.
										</p>
									</div>
									<div class="item-card__footer d-flex jc-sb ai-c">
										<span class="item-card__footer-group d-flex jc-c ai-c">
											<span class="item-card__price">
												<span class="item-card__currency">$</span>10
											</span>
											<button class="item-card__action item-card__action--like" type="button">
												<svg class="item-card__action-icon item-card__action-icon--like">
													<title>
														Add to Favorites
													</title>
													<use xlink:href="#ui-heart" />
												</svg>
												56
											</button>
											<span class="item-card__rating"></span>
										</span>
										<button class="item-card__action item-card__action--buy" type="button">
											<svg class="item-card__action-icon item-card__action-icon--buy">
												<title>
													Add to Cart
												</title>
												<use xlink:href="#ui-cart" />
											</svg>
											68
										</button>
									</div>
								</article>
							</div>
							<!-- /New Products Items -->

						</div>
						<button class="btn btn--center btn--xl btn--blue">
							All New Products
						</button>
					</div>
				</section>
				<!-- /Newest products -->