$quicksand: "Quicksand", sans-serif;
$linear-icons: "Linearicons-Free";
$fontfamily: $quicksand;

$minwidth: 320px;
$mw: 1170;
$md1: $mw + 30;
$md2: 991.98;
$md3: 767.98;
$md4: 575.98;
$md5: 479.98;

// Colours
$white: #ffffff;
$ghost-white: #f3f3f8;
$deep-black: #000000;
$black: #010101;
$charocal-gray: #333333;
$emperor-gray: #555555;
$regent-gray: #7e8fa1;
$oslo-gray: #898f96;
$athens-gray: #eef1f3;
$geyser: #d9dfe5;
$azure-blue: #0674ec;
$grapefruit: #ff6a6c;
$lime: #62d03b;
$fuchsia-blue: #7347c1;
$windsor-purple: #441c7c;
$dark-blue: #0030de;
$royal-blue: #2e5afb;
$pale-azure: #449bfa;
$gainsboro: #dcdcdc;
$dim-gray: #676767;